.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/images/volunteering.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .footer {
    padding: 1rem;
    text-align: center;
  }
  
  .header {
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 8.5rem;
    left: 5rem;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .subheader {
    font-family: "Lato", sans-serif;
    position: absolute;
    top: 12.5rem;
    left: 11rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .matchButton {
    font-family: "Lato", sans-serif; 
    
    position: absolute; 
    top: 16rem; 
    left: 14rem; 
    
    padding: 1rem 2rem; 
    background-color: #c27440b3;
    color: white; 
    border: none; 
    border-radius: 12px; 
    font-size: 1.25rem; 
    cursor: pointer; 
    
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transition effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  /* Hover effect */
  .matchButton:hover {
    background-color: #734b38; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  /* Active effect */
  .matchButton:active {
    background-color: #5c3a29; 
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  